.custom-form {
    margin: 0;
    text-align: center;
    position: relative;
    overflow-x: hidden; /* Prevents horizontal overflow */
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensures it spans full container */
}

.input-group-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: #f8f8f8;
    font-size: 18px;
    color: #6c757d;
}

#searchInput {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    width: 600px;
    font-size: 18px;
    height: 50px;
    box-sizing: border-box; /* Ensures padding doesn't affect layout */
    outline: none; /* Removes the inner square/outline on focus */
}

#searchInput:focus {
    border-color: #1E90FF;
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
}

#suggestionList {
    list-style: none;
    position: absolute;
    left: 50%; /* Center the list */
    transform: translateX(-50%);
    margin-top: 2px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: auto; /* Enables vertical scrolling */
    width: 600px;
    white-space: nowrap;
}

#suggestionList li {
    padding: 15px 10px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    text-overflow: ellipsis;
    overflow: hidden;
}

#suggestionList li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

#suggestionList li:hover {
    background-color: #e9f3ff;
}

.info-icon {
    margin-left: 10px;
    cursor: pointer;
    color: #1E90FF;
    font-size: 14px;
}

.suggestion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

@media only screen and (max-width: 767px) {
    #searchInput {
        width: 90%; /* Adjust input width for small screens */
        margin: 10px auto;
    }

    #suggestionList {
        width: 90%; /* Adjust suggestion list width */
    }

    .info-icon {
        font-size: 12px;
    }

    .suggestion-item {
        padding-right: 10px;
    }
}
